// ### Primary

// - Cyan: hsl(179, 62%, 43%)
// - Bright Yellow: hsl(71, 73%, 54%)

// ### Neutral

// - Light Gray: hsl(204, 43%, 93%)
// - Grayish Blue: hsl(218, 22%, 67%)
$selection-bg: hsl(296, 62%, 43%);
$cyan: hsl(179, 62%, 43%);
$cyan-up: hsla(179, 62%, 43%, 0.791);
$bright-Yellow: hsl(71, 73%, 54%);
$bring-yellow-up: hsla(71, 73%, 54%, 0.729);
$light-Gray: hsl(203, 44%, 93%);
$grayish-Blue: hsl(217, 22%, 67%);
$white : hsl(0, 0%, 100%);
$white-up : hsla(0, 0%, 100%, 0.63);
